<StackLayout class="grey-page">
  <GridLayout rows="auto" columns="auto,*,auto" class="action-bar m-10">
      <Button text="Close" (tap)="close()" class="action-item" row="0" col="0"></Button>
      <Label text="Modal" class="action-title text-center" row="0" col="1"></Label>
      <Button text="Action" class="action-item" row="0" col="2"></Button>
  </GridLayout>
  
  <StackLayout class="p-20">
      <Label text="Our modal content" textWrap="true" class="h1 text-center"></Label>
      
  </StackLayout>
</StackLayout>